*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    scroll-behavior: smooth;
    font-family: "Quicksand", sans-serif ;
    box-sizing: border-box;
}
body{
    display: flex;
    background-image: url(Photos/img_9.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
header{
    padding: 30px;
    width: 14.5%;
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: black;
}
main{
    width: 100%;

}
#logo{
    margin-bottom: 30px;
}
#logo > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
header>ul{
    list-style: none;
    margin-bottom: 2.5vh;
}
header>ul>li{
    padding: 8px 0;
}
header>ul>li:active>a{
    color: #df0e62;
}
header>ul>li>a{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: uppercase;
}
#socialMedias{
    display: flex;
}
.socialMedia{
    height: 2vh;
    fill: white;
    padding-right: 20px;
}
main>section{
    height: 500px;
}
#home{
    display: flex;
    height: 100vh;
    backdrop-filter: brightness(60%);
    justify-content: center;
    align-items: center;
}
#home >div{
    height: 31vh;
    width: 58%;
}
#home > div> h1{
    font-family: "Oswald", sans-serif;
    color: white;
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 6px;
}
#home > div> p{
    text-align: center;
    font-size: 1.2rem;
    line-height: 160%;
    font-weight: 300;
}
#home > div> div{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5vh;
}
#home > div> div>a {
    background-color: #df0e62;
    padding: 1.7vh 3%;
    border-radius: 4vh;
    font-weight: 600;
    font-size: .95rem;
    letter-spacing: 1.7px;
    transition: all .3s ease;
}
#home > div> div>a:hover {
    background-color: #9e0945;
}
#photos{
    height: auto;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 5px;
    background-size: cover;
}

#photos>.photo{
    height: 30vh;
    width: 33.15%;
    background-size: cover;
    transition: all ease .3s;
    position: relative;
}
#photos>.photo>a>img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    transition: ease .35s;
}
#photos>.photo>a{
    display: block ;
    height: 100%;
    width: 100%;
    transition: all .3s ease;
    position: absolute;
}
#photos>.photo:hover>a>div{
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#photos>.photo>a>div{
    opacity: 0;
    background-color: transparent;
    display: block;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all .3s ease;
}
#photos>.photo>a>div>svg{
    fill: white;
    height: 3vh;
    transition: all 1s;
}
@keyframes lupaAnimation {
    from{
        top: 20px;
    }
    to{
        top: 0px;
    }
}
#photos>.photo:hover>svg{
    fill: white;
    animation-name: lupaAnimation;
    animation-duration: .4s;
}

#photos>.photo:hover>a>img{
    filter: brightness(40%);
    opacity: 100;
}
#testimonial{
    height: 75vh;
    background-color: black;
    padding: 12vh 0;
}
#testimonial>h1{
    text-transform: uppercase;
    font-family: "Oswald", sans-serif; 
    font-weight: 400;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 5vh;
}
#testimonial>#carrossel{
    display: flex;
}
#testimonial>#carrossel>.arrow>div:hover{
    background-color: #df0e62;
}
#testimonial>#carrossel>.arrow>div{
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    background-color: #1a1a1a;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all .4s;
}
#testimonial>#carrossel>.arrow>div>svg{
    fill: white;
    height: 2vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#testimonial>#carrossel{
    display: flex;
    justify-content: center;
    height: 40vh;
}
#testimonial>#carrossel>#carrossel-content{
display: flex;
flex-direction: column;
align-items: center;
width: 45%;
}
#testimonial>#carrossel>#carrossel-content>img{
height: 16vh;
width: 16vh;
border-radius: 50%;
margin-bottom: 2.5vh;
}
#testimonial>#carrossel>#carrossel-content>.name{
    font-size: 1rem;
    margin-bottom: 1.8vh;
}   
#testimonial>#carrossel>#carrossel-content>.testimonial-lorem{
    text-align: center;
    color: grey;
    font-size: 1rem;
    padding: 0 4%;
    line-height: 160%;
    margin-bottom: 3vh;
}
#testimonial>#carrossel>#carrossel-content>#balls{
    height: 1vh;
    width: 100%;
    display: flex;
    justify-content: center;

}
#testimonial>#carrossel>#carrossel-content>#balls>.ball{
    height: 1vh;
    width: 1vh;
    margin: 0 .5%;
    border-radius: 50%;
    background-color: grey;
}
#testimonial>#carrossel>#carrossel-content>#balls>#roxa{
background-color: #df0e62;
}
#Biography{
    height: 120vh;
    background-color: orange;
    padding: 12.8vh 35% 10vh 28%
}

#Biography>h2{
color: white;
font-size: 4rem;
text-transform: uppercase;
font-family: "Oswald", sans-serif;
font-weight: 400;
margin-bottom: 7vh;
}
#Biography>img{
width: 60%;
margin-bottom: 4.5vh;
}#Biography>h3{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 2rem;
}
#e{
background-color: darkgreen;
}