*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    scroll-behavior: smooth;
    font-family: "Quicksand", sans-serif ;
}
body{
    display: flex;
    background-image: url(Photos/img_9.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
header{
    padding: 30px;
    width: 12%;
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: black;
}
main{
    width: 100%;
    height: 5000px;

}
#logo{
    margin-bottom: 30px;
}
#logo > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
header>ul{
    list-style: none;
    margin-bottom: 2.5vh;
}
header>ul>li{
    padding: 8px 0;
}
header>ul>li>a{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: uppercase;
}
#socialMedias{
    display: flex;
}
.socialMedia{
    height: 2vh;
    fill: white;
    padding: 10px 0;
    padding-right: 20px;
}
main>section{
    height: 500px;
}
#home{
    display: flex;
    height: 100vh;
    backdrop-filter: brightness(60%);
    justify-content: center;
    align-items: center;
}
#home >div{
    height: 31vh;
    width: 58%;
}
#home > div> h1{
    font-family: "Oswald", sans-serif;
    color: white;
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 6px;
}
#home > div> p{
    text-align: center;
    font-size: 1.2rem;
    line-height: 160%;
}
#home > div> div{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5vh;
}
#home > div> div>a {
    background-color: #df0e62;
    padding: 1.7vh 3%;
    border-radius: 4vh;
    font-weight: 600;
    font-size: .95rem;
    letter-spacing: 1.7px;
}
#photos{
background-color: white;
}
#c{
background-color: cadetblue;
}
#d{
background-color: orange;
}
#e{
background-color: darkgreen;
}