*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    scroll-behavior: smooth;
    font-family: "Quicksand", sans-serif ;
}
body{
    display: flex;
    background-image: url(Photos/img_9.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
header{
    padding: 30px;
    width: 12%;
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: black;
}
main{
    width: 100%;
    height: 5000px;

}
#logo{
    margin-bottom: 30px;
}
#logo > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
header>ul{
    list-style: none;
    margin-bottom: 2.5vh;
}
header>ul>li{
    padding: 8px 0;
}
header>ul>li:active>a{
    color: #df0e62;
}
header>ul>li>a{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: uppercase;
}
#socialMedias{
    display: flex;
}
.socialMedia{
    height: 2vh;
    fill: white;
    padding: 10px 0;
    padding-right: 20px;
}
main>section{
    height: 500px;
}
#home{
    display: flex;
    height: 100vh;
    backdrop-filter: brightness(60%);
    justify-content: center;
    align-items: center;
}
#home >div{
    height: 31vh;
    width: 58%;
}
#home > div> h1{
    font-family: "Oswald", sans-serif;
    color: white;
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 6px;
}
#home > div> p{
    text-align: center;
    font-size: 1.2rem;
    line-height: 160%;
    font-weight: 300;
}
#home > div> div{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5vh;
}
#home > div> div>a {
    background-color: #df0e62;
    padding: 1.7vh 3%;
    border-radius: 4vh;
    font-weight: 600;
    font-size: .95rem;
    letter-spacing: 1.7px;
    transition: all .3s ease;
}
#home > div> div>a:hover {
    background-color: #9e0945;
}
#photos{
    height: auto;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 5px;
}
.img1{
    background-image: url(Photos/img_1.jpg.webp);
}
.img2{
    background-image: url(Photos/img_2.jpg.webp);    
}
.img3{
    background-image: url(Photos/img_3.jpg.webp);    
}
.img4{
    background-image: url(Photos/img_4.jpg.webp);    
}
.img5{
    background-image: url(Photos/img_5.jpg.webp);    
}
.img6{
    background-image: url(Photos/img_6.jpg.webp);    
}
.img7{
    background-image: url(Photos/img_7.jpg.webp);    
}
.img8{
    background-image: url(Photos/img_8.jpg.webp);    
}
.img9{
    background-image: url(Photos/img_9.jpg.webp);    
}
.img10{
background-image: url(Photos/img_10.jpg.webp);   
}

#photos>.photo{
    height: 30vh;
    width: 33.15%;
    background-size: cover;
    transition: all ease .3s;
}
#photos>.photo>div{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    opacity: 0;
}
#photos>.photo>div>svg{
    fill: white;
    height: 3vh;
    position: relative;
    transition: 1s;
}
@keyframes lupaAnimation {
    from{
        top: 20px;
    }
    to{
        top: 0px;
    }
}
#photos>.photo:hover>div>svg{
    fill: white;
    height: 3vh;
    animation-name: lupaAnimation;
    animation-duration: .4s;
    
}




#photos>.photo:hover>div{
    backdrop-filter: brightness(40%);
    opacity: 100;
}
#testimonial{
background-color: black;
padding: 12vh;
}
#testimonial>h1{
text-transform: uppercase;
font-family: "Oswald", sans-serif; 
font-weight: 400;
font-size: 4rem;
text-align: center;

}
#testimonial>#carrossel{
background-color: red;
display: flex;
}
#testimonial>#carrossel>.arrow{
    
}
#d{
background-color: orange;
}
#e{
background-color: darkgreen;
}